Repository ecoma-io/go-observability: changes, and which lefthook commands are due for each by the changed paths.
All: golangci-lint, format, shellcheck

.lefthook.yml:

pre-commit:
  parallel: true
  commands:
    gitleaks:
      run: gitleaks detect --no-banner
    golangci-lint:
      tags: backend style
      glob: "*.go"
      # Run golangci-lint on the module instead of passing staged files
      # which can span multiple directories and cause "named files must all be in one directory" errors.
      run: golangci-lint run --fix
    format:
      glob: "*.{json,md,yml,yaml,toml,sh}"
      run: dprint fmt {staged_files} --allow-no-files && git add {staged_files} && dprint check {staged_files} --allow-no-files
    shellcheck:
      glob: "*.{sh,bash}"
      run: shellcheck {staged_files}
    test:
      run: go test ./...
    build:
      run: go build ./...

commit-msg:
  commands:
    conform:
      run: conform enforce --commit-msg-file {1}

pre-push:
  commands:
    test:
      run: go test ./...
    build:
      run: go build ./...
    e2e:
      run: bash e2e/run-e2e.sh

docs: Add Gin middleware document
  README.md
Due: format

feat: add GinTracing middleware for OpenTelemetry support
  E2E.md
  README.md
  e2e/docker-compose.yml
  e2e/otel-config.yaml
  e2e/prometheus.yaml
  e2e/run-e2e.sh
  examples/gin-example/README.md
  examples/gin-example/main.go
  examples/gin-service/go.mod
  examples/gin-service/main.go
  examples/grpc-service/README.md
  examples/grpc-service/go.mod
  examples/grpc-service/go.sum
  examples/grpc-service/main.go
  examples/grpc-service/proto/hello.pb.go
  examples/grpc-service/proto/hello.proto
  examples/grpc-service/proto/hello_grpc.pb.go
  examples/simple-service/go.mod
  examples/simple-service/go.sum
  gin_middleware.go
  gin_middleware_test.go
  go.sum
  grpc_interceptor.go
  grpc_interceptor_test.go
Due: golangci-lint, format, shellcheck

chore: update dprint excludes to include all .pb.go files
  .dprint.json
Due: format

chore: update go.mod and add go.sum
  examples/gin-example/go.mod
  examples/gin-example/go.sum
Due: none

chore: add Renovate configuration for Go dependencies
  .github/renovate.json
Due: format

feat: add route skipping capabilities for Gin middleware
  README.md
  e2e/run-e2e.sh
  examples/gin-example/README.md
  examples/gin-example/main.go
  examples/gin-service/main.go
  gin_middleware.go
  gin_middleware_test.go
Due: golangci-lint, format, shellcheck

chore: remove old env
  .env
Due: none

chore: update contribution guidelines and add MIT license
  CONTRIBUTING.md
  LICENSE
  LICENSE.md
Due: format

docs: update README header
  README.md
Due: format

feat: add native OTLP metric export
  README.md
  config.go
  config_test.go
  e2e/docker-compose.yml
  examples/gin-example/go.mod
  examples/gin-example/go.sum
  examples/gin-service/go.mod
  examples/gin-service/go.sum
  examples/grpc-service/go.mod
  examples/grpc-service/go.sum
  examples/simple-service/go.mod
  examples/simple-service/go.sum
  go.mod
  go.sum
  otel.go
  otel_test.go
Due: golangci-lint, format

chore: add AI coding agent instructions for Go Observability
  .github/copilot-instructions.md
Due: format

chore: update comments in Dockerfile and otel.go for clarity and consistency
  e2e/Dockerfile
  otel.go
Due: golangci-lint

chore: add go vet analysis to pre-commit and pre-push hooks
  .lefthook.yml
Due: format

deploy: b74b89ffbb499c24192ec9462c5dd5822b1d068f
  404.html
  audit/index.html
  configuration/index.html
  contributing/index.html
  e2e/index.html
  examples/index.html
  getting-started/index.html
  gin-middleware.md/index.html
  grpc/index.html
  index.html
  logging/index.html
  otel/index.html
  search/search_index.json
Due: format

chore: update test:coverage task to include detailed coverage report
  .github/workflows/ci.yaml
  .gitignore
  README.md
  Taskfile.yml
Due: format

ci: optimize ci workflow for faster
  .github/workflows/ci.yaml
Due: format

ci: add go vet step to CI workflow
  .github/workflows/ci.yaml
Due: format

deploy: 3a633ac51fee2f4a86725aa650a9c457c1170377
  getting-started/index.html
  search/search_index.json
  sitemap.xml.gz
Due: format

chore add .env to .gitignore
  .gitignore
Due: none

test: add default mode initialization test for InitOtel
  otel_test.go
Due: golangci-lint

docs: update documentation links
  README.md
Due: format

feat: add support for insecure OTLP and metrics configurations
  config.go
  e2e/docker-compose.yml
  otel.go
  otel_test.go
Due: golangci-lint, format

docs: update examples and documentation for non-TLS collector configuration
  README.md
  docs/examples.md
  docs/otel.md
  examples/gin-example/README.md
  examples/gin-service/README.md
  examples/grpc-service/README.md
  examples/simple-service/README.md
Due: format

deploy: 7f01494eb7abd7c2ca279ae158fa721935bfb547
  examples/index.html
  otel/index.html
  search/search_index.json
Due: format
